**/*$py.class
*/.coverage
**/.DS_Store
**/*.egg
**/*.egg-info/
**/.egg-info/
**/.eggs/
**/eggs/
**/.env
**/env/
**/.git
**/.installed.cfg
**/.mypy_cache/
pip-wheel-metadata/
*/prof/
**/__pycache__/
**/*.py[cod]
**/.venv
**/venv/
**/.vscode
**/.tmp/
**/.idea
